/* Normalizar*/
*{
	padding: 0;
	list-style: none;
	text-decoration: none;
	border:none;
	outline: none;
	box-sizing: border-box;
	margin: 0;
}



body {
	width: 100%;
	height: 2000px;
	background-color: #110038;
}

.bienvenida {
	
	background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

#bluegif {
    width: 98px;
	height: 51px;
	display: flex;
	margin-top: 33px;
	margin-left: 91px;
}

.general {
	width: 100%;
	height: 122px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.botones {
	display: flex;
	height: 36px;
	margin-right: 141px;
	margin-top: 44px;
}



.CrearGif, .tema {
	width: 131px;
	height: 36px;
	color: #110038;
	background: #EE3EFE;
	border: 1px solid #110038;
	box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;

}

.tema:hover, .CrearGif:hover {
	background: #CE36DB;
	border: 1px solid #110038;
	box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.CrearGif ,.dropbtn {
	margin-right: 16px;
}

.dropbtn {
	width: 36px;
	height: 36px;
	background: #EE3EFE;
	border: 1px solid #110038;
	box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.dropbtn:hover {
background: #CE36DB;
	border: 1px solid #110038;
	box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

  
.dropdown {
    position: relative;
	display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
	background: #B4B4B4;
	box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
	min-width: 165px;
	z-index: 1;
	float: right;
    right:0;
    margin-right: 17px;
    height: 98px;
}

#dayView {
    width: 150px;
	height: 36px;
	background: #CCCCCC;
	border: 1px solid #808080;
	box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    margin: auto;
    margin-bottom: 7px;
    margin-top: 7px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
	color: #110038;
	letter-spacing: 0;
	line-height: 22px;
    padding-top: 6px;
}

#dayView:hover, #nightView:hover {
    background: #2E32FB;
	border: 1px solid rgba(51,53,143,0.20);
	box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 22px;
}

#nightView {
    width: 150px;
    height: 36px;
	background: #CCCCCC;
    border: 1px solid #808080;
	box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    margin: auto;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    padding-top: 6px;

}
  
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.mG {
	color:#FFFFFF;
	margin-top: 5px;
}

.barraG {
	background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.Gifs {
    height: 200px;
    width: 950px;
    margin-left: 180px;
}

.searchsButton {
    width: 130px;
    height: 30px;
    background: #B4B4B4;
	border: 1px solid #808080;
	box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 16px;
	color: #8F8F8F;
	letter-spacing: 0;
	line-height: 18px;
}

.Busqueda {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    font-family: 'Chakra Petch', sans-serif;
    color: #FFFFFF;
	height: 70px;
	width: 1200px;
	margin: auto;
	
} 

.Lupita {
    margin-left: -30px;
	position: absolute;
	background-image: url("./assets/Combined\ Shape.svg");
	background-repeat: no-repeat;
	
}

.searchsButton:hover {
    border: 1px dotted #110038;
    background: #EE3EFE;
	box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;font-family: ChakraPetch-Regular;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 18px;

}

.myHeadSearch {
    background: #B4B4B4;
	box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
	height: 60px;
	width: 1200px;
}

.grayBar {
    width: 1050px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Chakra Petch', sans-serif;
    line-height: 22px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.grayBar:active {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
}

.barAndSearch {
    background: #FFFAFE;
	border: 1px solid #2E32FB;
	box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
    font-family: 'Chakra Petch', sans-serif;
    color: #110038;
    letter-spacing: 0;
    margin-top: 35px;
	padding-bottom: 5px;
	padding-top: 2px;
	width: 1200px;
	margin: auto;
}

.gridSuggest {
    margin-top: 10px;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 250px;
    grid-gap: 10px;
    width: 1200px;
    margin: auto;
    margin-bottom: 34px;
}

.barTrends {
	background: #FFFAFE;
	border: 1px solid #2E32FB;
	box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
    font-family: 'Chakra Petch', sans-serif;
    color: #110038;
    letter-spacing: 0;
    margin-top: 35px;
	padding-bottom: 5px;
	padding-top: 2px;
	width: 1200px;
	margin: auto;
}

.myTendencies {
	width: 1200px;
    margin: 15px auto;
    columns: 4;
	column-gap: 0px;
	padding-top: 20px;
	
}



.gifBord {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    width: 90%;
    height: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 23px;
    
}

.xIcon {
    margin-top: 4px;
    float: right;
}

.Gif {
	width: 100%;
    margin: -11px 0px -1px 0px;
    padding: 3px;
    background: #110038;
	overflow: hidden;
	break-inside: avoid;
}

.imageSugg {
    width: 90%;
    height: 200px;
    margin: -11px 0px 9px 0px;
    padding: 3px;
    background: #fff;
	overflow: hidden;
    break-inside: avoid;
    padding-top: 1px;
    margin-top: 1px;
}


.moreButton {
    background: #2E32FB;
	border: 1px solid #4C2F99;
	box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
    width: 75px;
    height: 30px;
    margin-left: 10px;
    position: absolute;
    margin-top: -60px;
    color: #FFFFFF;
}

.moreButton:hover {
    border: 1px dotted #110038;
    background: #2629CC;
	box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}


figure:hover figcaption {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    -moz-transform: translate3d(0, -100%, 0); 
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    visibility: visible;
    box-shadow: 0px -2px 28px rgba(0, 0, 0, 0.3);
    width: 100%;
}

figure {
	background-color: #110038;
}

figure:hover {
    box-shadow: inset -2px -2px 0 0 #110038, inset 2px 2px 0 0 #110038;
    margin: -11px 0px 9px 0px;
    padding: 3px;
    background: #110038;
	overflow: hidden;
	break-inside: avoid;
}

figure figcaption {
    visibility: hidden;
    color: #110038;
	font-family: 'Chakra Petch', sans-serif;
	
} 




/*Captura claro*/

.Gifs {
    height: 200px;
    width: 950px;
    margin-left: 180px;
}

.Busq {
    height: 200px;
    width: 950px;
}

.buttonsSuggested {
    width: 1200px;
    display: flex;
    margin-left: 312px;
    flex-direction: row;
    justify-content:space-between ;
    margin-top: 20px;
}

.buttonsSg {
    width: 130px;
    height: 30px;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    font-family: 'ChakraPetch-Regular', sans-serif;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 10px;
}

body {
    font-family: 'Chakra Petch', sans-serif;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    color: #110038;
}
  
.autocomplete-items {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-top: 15px;
    width: 950px;
}

.autocomplete-items div {
    padding: 6px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    font-family: 'Chakra Petch', sans-serif;
    color: #110038;
    width: 800px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}
 
.autocomplete-items div:hover {
    background: #DBDBDB;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    border: 1px dotted #110038;
}

.autocomplete-active {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; 
} 

.mgTittle {
	width: 1100px;
	height: 32px;
	background: #FFFAFE;
	border: 1px solid #E6BBE2;
	box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
	margin-bottom: 45px;
	margin: auto;
    padding-top: 5px;
    padding-left: 5px;
	margin-top: 40px;
}

div .misGuifos {
	display: block;
	height: 310px;

}

#misgifs {
	width: 1100px;
	height: 1000px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	margin-left: 360px;
	margin-top: -165px;	
}

#misgifs img {
	width: 270px;
	height: 298px;
	padding-left: 5px;
}